.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f8f9fa;
  font-family: var(--font-geist-sans);
}

.header {
  text-align: center;
  color: #333;
  padding: 12px;
  margin: 0;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.aiName {
  font-size: 28px;
  font-weight: 600;
}

.authButtonContainer {
  position: absolute;
  right: 12px;
}

.chatContainer {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.loading {
  text-align: center;
  color: #666;
  font-style: italic;
  padding: 12px;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* =========================== */

.loadingPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notAuthPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authSection {
  border-radius: 16px;
  border: 1px solid #666;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainText {
  font-size: 28px;
  font-weight: 600;
}

.secondaryText {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}
